.banner {
    width: 100%;
    height: 635px;
    //height: 100%;
    background-image: url(../images/home_mobile.png);    
    background-size: cover;
    background-position: center center;
}

@include media-breakpoint-up(lg) {
    .banner {
        height: 810px;
        //height: 100%;
        background-image: url(../images/home.png);
    }
}